<h3>William Tango</h3>
<br />
Package:
<select>
    <option>Base</option>
    <option selected>Premium</option>
</select>
<br />
Cost of Benefit:
<span>$1000.00</span>
<br />
Discount:
<span>0%</span>
<br />
<h3>Dependents</h3>
<table cellpadding="10">
    <tr>
        <th>
            Type
        </th>
        <th>
            Cost of Benefit
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Discount
        </th>
        <th>
            Addl Cost
        </th>
    </tr>
    <tr>
        <td>
            <select value="Spouse">
                <option>Spouse</option>
                <option>Child</option>
                <option>Parent</option>
            </select>
        </td>
        <td>
            <span>$500.00</span>
        </td>
        <td>
            <input type="text" value="Alexis" />
        </td>
        <td>
            <input type="text" value="Hamilton" />
        </td>
        <td>
            <span>10%</span>
        </td>
        <td>
            <span>$450.00</span>
        </td>
        <td>
            <button type="button">Remove</button>
        </td>
    </tr>
    <tr>
        <td>
            <select value="Child">
                <option>Spouse</option>
                <option selected>Child</option>
                <option>Parent</option>
            </select>
        </td>
        <td>
            <span>$500.00</span>
        </td>
        <td>
            <input type="text" value="Billy-Alex" />
        </td>
        <td>
            <input type="text" value="Hamilton" />
        </td>
        <td>
            <span>5%</span>
        </td>
        <td>
            <span>$475.00</span>
        </td>
        <td>
            <button type="button">Remove</button>
        </td>
    </tr>
    <button type="button">Add Dependent</button>
</table>
Total Cost of Benefit:
<span>$1925.00</span>
<br />
<button type="button">Save</button>

