<h3>Edit Employee</h3>
<button type="button">Add Another Employee</button>&nbsp;
<button type="button">Delete This Employee</button>
<br />
Selected Package:
<select>
    <option>Base</option>
    <option selected>Premium</option>
</select>
<br />
First Name:
<input type="text" value="William" />
<br />
Last Name:
<input type="text" value="Tango" />
<br />
Base Cost of Benefit:
<input type="text" value="$1000.00" />
<br />
<h3>Dependents</h3>
<table cellpadding="10">
    <tr>
        <th>
            Type
        </th>
        <th>
            Cost of Benefit
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Discount
        </th>
        <th>
            Final Cost
        </th>
    </tr>
    <tr>
        <td>
            <select value="Spouse">
                <option>Spouse</option>
                <option>Child</option>
                <option>Parent</option>
            </select>
        </td>
        <td>
            <input type="text" value="$500.00" />
        </td>
        <td>
            <input type="text" value="Alexis" />
        </td>
        <td>
            <input type="text" value="Hamilton" />
        </td>
        <td>
            <input type="text" value="10%" />
        </td>
        <td>
            <span class="currency">$450.00</span>
        </td>
    </tr>
    <tr>
        <td>
            <select value="Child">
                <option>Spouse</option>
                <option selected>Child</option>
                <option>Parent</option>
            </select>
        </td>
        <td>
            <input type="text" value="$500.00" />
        </td>
        <td>
            <input type="text" value="Billy-Alex" />
        </td>
        <td>
            <input type="text" value="Hamilton" />
        </td>
        <td>
            <input type="text" value="5%" />
        </td>
        <td>
            <span class="currency">$475.00</span>
        </td>
    </tr>
</table>
Total Cost of Benefit:
<span>$1925.00</span>
<br />
<button type="button">Save</button>
